{% assign product_images = product.images | reverse %}

<div
  class="col s6 m4 l4 product-block-container collection-item-product-{{ product.id }}"
  data-loop-index="{{forloop.index}}">

  {% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
    <span class="on-sale">on sale</span>
  {% endif %}

  <a
    id="collection-item-trigger-{{ product.id }}"
    href="#"
    data-product="{{ product.id }}"
    data-activates="product-drawer-{{ product.id }}"
    class="product-block product-item">
    <div class="reveal">
      <img
        src="{{ product_images[3] | img_url: '260x', scale: 3 | split: '?' | first }}"
        alt="{{ product_images[4].alt | escape }}" />

      <div class="hidden hide-on-med-and-down">
        <div class="caption">
          <div class="centered">
            <p>{{ product.title }}</p>
            <p>-</p>
            <p>{{ product.variants[0].price | money }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>

  <p class="collection-grid-item-product-price hide-on-med-and-up white">
    {{ product.price | money }}
  </p>

  <ul id="product-drawer-{{ product.id }}" class="side-nav">
    {% include "product-man-sweatshirt" %}
  </ul>
</div>
