<div class="col s12 m3 l3 hide-on-med-and-down desktop-nav">
  <div class="col s12 center" style="padding: 0;">
    <a itemprop="url" href="/" class="desktop-nav-home">
      <img
        class="desktop-nav-brand-name lazy"
        src="{{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }}"
        alt="Mike Wrobel Shop Brand Name Logo"
        sizes="15vw"
        srcset="{{ 'mike_wrobel_logo.gif' | file_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 200w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 400w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 800w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 1000w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 1400w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 1800w"
        data-src="{{ 'mike_wrobel_logo.gif' | file_img_url: '270x', scale: 3 | split: '?' | first }}"
        data-srcset="{{ 'mike_wrobel_logo.gif' | file_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 200w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 400w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 800w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 1000w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 1400w, {{ 'mike_wrobel_logo.gif' | file_img_url: '185x', scale: 3 | split: '?' | first }} 1800w"
        data-sizes="15vw" />
      <img
        class="desktop-nav-home-logo moshikun-alive active lazy"
        src="{{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }}"
        alt="Mike Wrobel Shop MoshikunLogo"
        sizes="15vw"
        srcset="{{ 'mike_wrobel_moshikun.png' | file_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 200w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 400w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 800w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1000w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1400w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1800w"
        data-src="{{ 'mike_wrobel_moshikun.png' | file_img_url: '270x', scale: 3 | split: '?' | first }}"
        data-srcset="{{ 'mike_wrobel_moshikun.png' | file_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 200w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 400w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 800w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1000w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1400w, {{ 'mike_wrobel_moshikun.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1800w"
        data-sizes="15vw" />
      <img
        class="desktop-nav-home-logo moshikun-dead lazy"
        src="{{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }}"
        alt="Mike Wrobel Shop Moshikun Skeleton Logo"
        sizes="15vw"
        srcset="{{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 200w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 400w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 800w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1000w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1400w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1800w"
        data-src="{{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '270x', scale: 3 | split: '?' | first }}"
        data-srcset="{{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 200w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 400w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 800w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1000w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1400w, {{ 'mike_wrobel_moshikun_skeleton.png' | file_img_url: '115x', scale: 3 | split: '?' | first }} 1800w"
        data-sizes="15vw" />
    </a>
  </div>

  <ul>
    <li>
      <a href="#" class="desktop-nav__cart cart-button-collapse" data-activates="cart">
        {{ 'layout.cart.title' | t }}
        (<span class="desktop-nav__cartCount" data-cart-render="item_count"></span>)
      </a>
    </li>

    <br>

    <li>
      <a href="/" rel="next" title="Home Page">Home</a>
    </li>
    <li>
      <a href="/collections/mike-wrobel-art-prints">Art Prints</a>
    </li>
    <li>
      <a href="/collections/mike-wrobel-8090s-game-of-thrones-era-characters">
        80/90s Thrones
      </a>
    </li>
    <li class="desktop-nav-trigger">
      <a class='desktop-nav-dropdown' href='#'>
        Clothing
        <span class="right desktop-nav-dropdown-icon">
          <svg viewBox="0 0 24 24">
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </span>
      </a>
    </li>
    <div class="desktop-nav-panel">
      <li class="desktop-nav-sub-category">
        <a href="/collections/mike-wrobel-men-tshirts">Men Tees</a>
      </li>
      <li class="desktop-nav-sub-category">
        <a href="/collections/mike-wrobel-women-tshirts">Women Tees</a>
      </li>
    </div>
    <li>
      <a href="/collections/mike-wrobel-goodies" rel="next" title="Sticker and Pins Collection">
        Goodies
      </a>
    </li>
    <li>
      <a href="/collections/mike-wrobel-limited" rel="next" title="Limited Collection">
        Limited
      </a>
    </li>
  </ul>

  {% include 'footer-social-links' %}
</div>
