<ul id="" class="side-nav dynamic-product-art-print">
  <div
    id="dynamicProductArtPrint"
    class="art-prints product-drawer-container container">
    <div class="row">
      <div class="col s12 product-drawer-image art-prints-image">
        <img class="lazy" src="" alt=""/>

        <span class="product-drawer-image-warning">
          * Art Prints are printed without the watermark of course *
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center product-drawer-summary">
        <div class="product-drawer-summary-header">
          <p class="product-drawer-summary-header-name"></p>
          <p class="product-drawer-summary-header-price"></p>
          <p
            class="product-drawer-summary-header-limited"
            style="display: none">
            Limited signed and numbered edition of 400
          </p>
          <p
            class="product-drawer-summary-header-limited-batman"
            style="display: none">
            Limited signed and numbered edition of 500
          </p>
          <p
            class="product-drawer-summary-header-limited-cercei"
            style="display: none">
            Limited signed and numbered edition of 500
          </p>
          <p
            class="product-drawer-summary-header-limited-vertigo"
            style="display: none">
            Limited signed and numbered edition of 600
          </p>
        </div>

        <form class="product-drawer-summary-form">
          <a id="addToCart" data-product="" class="product-drawer-summary-form-submit">
            add to cart
          </a>

          <a id="addToCartLast" data-product="" style="display: none; margin-top: 8px;" class="product-drawer-summary-form-submit">
            add to cart
          </a>

          <div class="cart-feedbacks">
            <span class="cart-feedbacks-success">
              The product has been added to your cart!
            </span>
            <span class="cart-feedbacks-error">
              Oops :( There has been an error, please try to reload the page.
            </span>
          </div>
        </form>

        <div class="product-drawer-summary-description">
          <strong>Product Details :</strong>
          <br>
          - Thick high quality art paper, 135 gr
          <br>
          <div class="product-drawer-summary-description-with-white-borders">
            - Trimmed with 2cm border for framing<br>
          </div>
          <br>
          <strong>
            ** Please allow 2~6 weeks for delivery depending on your country **
          </strong>
        </div>

        <div id="batmanSeriesPackContainer" style="margin-top: 20px; display: none; margin-bottom: 100px;">
          <div class="divider"></div>
          <br>

          <h1 class="product-page-art-print-form-container-title center white-text">
            Batman Series: Limited Pack
          </h1>

          <h5 class="product-page-art-print-form-container-price center white-text">
            <strong>
              $125.00 <span style="color: #767676; text-decoration: line-through;">$150.00</span>
            </strong>
          </h5>

          <div class="product-page-art-print-batman-series">
            <p class="product-page-art-print-batman-series-text" style="text-align: center; margin-bottom: 15px;">
              Buy all 3 Batman Series Limited Edition Art Prints :<br>
              - Batman Limited Edition - 14" x 20"<br>
              - Joker Limited Edition - 14" x 20"<br>
              - Twoface Limited Edition - 14" x 20"
            </p>

            {% assign batman_print = all_products['mike-wrobel-batman-series-batman-limited-edition'] %}
            {% assign joker_print = all_products['mike-wrobel-batman-series-joker-limited-edition'] %}
            {% assign two_face_print = all_products['mike-wrobel-batman-series-twoface-limited-edition'] %}

            <div class="row">
              <img src="{{ batman_print.images.last.src | product_img_url: 'master' | split: '?' | first }}" alt="{{ batman_print.images.last.alt | escape }}" style="padding-left: 0; padding-right: 5px;" class="col s4">
              <img src="{{ joker_print.images.last.src | product_img_url: 'master' | split: '?' | first }}" alt="{{ joker_print.images.last.alt | escape }}" style="padding: 0 2.5px;" class="col s4">
              <img src="{{ two_face_print.images.last.src | product_img_url: 'master' | split: '?' | first }}" alt="{{ two_face_print.images.last.alt | escape }}" style="padding-left: 5px; padding-right: 0;" class="col s4">
            </div>

            <a
              id="addToCart-968421965839"
              data-product="968421965839"
              data-handle="mike-wrobel-batman-series-pack-all-3-art-prints"
              class="product-drawer-summary-form-submit"
              style="margin-top: 15px;">
              <span style="margin-right: 10px;">buy batman series pack</span>
              <span style="margin-left: 10px;">$125.00</span>
            </a>
          </div>
        </div>

        <a id="product-drawer-close-" class="mobile-cart-close hide-on-med-and-up">
          {% include 'mobile-close-button-icon' %}
        </a>
      </div>
    </div>
  </div>
</ul>
