<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l3 offset-l3">
        <div class="footer-help">
          <img src="{{ 'mike-wrobel-shop-footer-signature.png' | file_img_url: 'master' | split: '?' | first }}" alt="Mike Wrobel Signature" class="hide-on-med-and-up footer-signature">
          <p class="center">Navigation And Collections</p>
          <ul>
            {% for link in linklists.footer-navigation-and-collection.links %}
              <li>
                <a href="{{ link.url }}" rel="next" title="{{ link.title }} Collection">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="footer-help">
          <p class="center">Help And Info</p>
          <ul>
            {% for link in linklists.footer.links %}
              <li>
                <a href="{{ link.url }}" rel="help" title="{{ link.title }}">{{ link.title }}</a>
              </li>
            {% endfor %}
            <li>
              <a href="mailto:support@printaura.com?subject=Reclamation+for+an+order+from+Moshikun+Shop" rel="nofollow">
                Reclamations for <strong>tees</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="footer-follow-me center">
          <p>Connect With Me</p>
          {% include 'footer-social-links' %}
        </div>

        <br><br>

        <div class="footer-newsletter center">
          <p>Subscribe To My Newsletter</p>
          <form id="footer-newsletter-form" action="">
            <input id="email" type="email" value="" placeholder="Your email" name="EMAIL" aria-label="Your email" autocorrect="off" autocapitalize="off" class="col s12">
            <input id="subscribe" class="base-btn white-text" type="submit" name="subscribe" value="subscribe now !">
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
