<div class="navbar-fixed desktop-header hide-on-med-and-up">
  <nav class="desktop-header-nav white">
    <div class="nav-wrapper container">
      {% include "mobile-navigation" %}

      <div class="hide-on-small-only hide-on-large-only left">
        <a data-activates="tablet-menu" class="menu-button-collapse tablet-menu-trigger">
          <svg viewBox="0 0 24 24">
            <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
        </a>
      </div>

      <div class="hide-on-small-only brand-logo right top-special-link">
        <a href="#" class="right cart-button-collapse" data-activates="cart">
          <img class="left mobile-menu-icon lazy"
            src="{{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: '37x37', scale: 3 | split: '?' | first }}"
            srcset="{{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: '37x37', scale: 3 | split: '?' | first }} 100w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 200w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 400w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
            alt="Mike Wrobel Shop Navigation Cart Logo"
            data-srcset="{{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: '37x37', scale: 3 | split: '?' | first }} 100w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 200w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 400w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ 'mike-wrobel-shop-cart-icon-mobile.png' | file_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
            sizes="20vw"
            data-sizes="20vw" >
        </a>

        <div class="hide-on-small-only" data-cart-render="item_count"></div>
      </div>
    </div>
  </nav>
</div>

<ul id="tablet-menu" class="side-nav hide-on-small-only hide-on-large-only">
  {% for link in linklists.main-menu.links %}
    {% if link.links.size > 0 %}
      <li class="desktop-nav-trigger">
        <a class='desktop-nav-dropdown' href='#'>
          {{ link.title }}
          <span class="right desktop-nav-dropdown-icon">
            <svg viewBox="0 0 24 24">
              <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
            </svg>
          </span>
        </a>
      </li>
      <div class="desktop-nav-panel">
        {% for sub_link in link.links %}
          <li class="desktop-nav-sub-category">
            <a href="{{ sub_link.url }}" rel="next" title="{{ sub_link.title }}">{{ sub_link.title }}</a>
          </li>
        {% endfor %}
      </div>
    {% else %}
      <li>
        <a href="{{ link.url }}" rel="next" title="{{ link.title }}">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
