{% assign product_images = product.images | reverse %}

<div
  id="product-{{ product.id }}"
  class="tshirt product-drawer-container container">
  <div class="row">
    <div class="col s12 product-drawer-image tshirt-image">
      {% if product_images.size > 5 %}
        {% assign drawer_main_image_src = product_images[1] %}
      {% else %}
        {% assign drawer_main_image_src = product_images[0] %}
      {% endif %}

      <img
        class="man-tshirt-image-preview"
        src="{{ drawer_main_image_src | img_url: '100x', scale: 3 | split: '?' | first }}"
        sizes="50vw"
        srcset="{{ drawer_main_image_src | img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ drawer_main_image_src | img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ drawer_main_image_src | img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ drawer_main_image_src | img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ drawer_main_image_src | img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ drawer_main_image_src | img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ drawer_main_image_src | img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
        data-src="{{ drawer_main_image_src | img_url: '100x', scale: 3 | split: '?' | first }}"
        data-srcset="{{ drawer_main_image_src | img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ drawer_main_image_src | img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ drawer_main_image_src | img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ drawer_main_image_src | img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ drawer_main_image_src | img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ drawer_main_image_src | img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ drawer_main_image_src | img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
        data-sizes="50vw"
        alt="{{ drawer_main_image_src.alt | escape }}" />
    </div>

    <div class="col s12 tshirt-thumbs">
      <ul>
        {% for image in product_images %}
          {% if product_images.size > 5 %}
            {% unless forloop.index == 1 or forloop.index >= 7 %}
              <li>
                <img
                  class="woman-longsleeve-preview-image-thumb lazy"
                  src="{{ image | img_url: '400x', scale: 3 | split: '?' | first }}"
                  sizes="20vw"
                  srcset="{{ image | product_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ image | product_img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ image | product_img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
                  alt="{{ image.alt | escape }}"
                  data-src="{{ image | product_img_url: '270x', scale: 3 | split: '?' | first }}"
                  data-srcset="{{ image | product_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ image | product_img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ image | product_img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
                  data-sizes="5vw" />
              </li>
            {% endunless %}
          {% else %}
            {% unless forloop.index >= 7 %}
              <li>
                <img
                  class="woman-longsleeve-preview-image-thumb lazy"
                  src="{{ image | img_url: '400x', scale: 3 | split: '?' | first }}"
                  sizes="20vw"
                  srcset="{{ image | product_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ image | product_img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ image | product_img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
                  alt="{{ image.alt | escape }}"
                  data-src="{{ image | product_img_url: '270x', scale: 3 | split: '?' | first }}"
                  data-srcset="{{ image | product_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ image | product_img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ image | product_img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
                  data-sizes="5vw" />
              </li>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center product-drawer-summary">
      <div class="product-drawer-summary-header">
        <p class="product-drawer-summary-header-name">{{ product.title }}</p>
        <p class="product-drawer-summary-header-price">
          {{ product.first_available_variant.price | money }} ~ {{ product.variants.last.price | money }}

          {% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
            <span class="product-drawer-summary-header-on-sale"></span>
          {% endif %}
        </p>
      </div>

      {% include "clothing-add-to-cart-form" with product %}

      <div class="product-drawer-summary-description">
        <p>
          <strong>Anvil</strong><br>
          980 Lightweight Fashion Short Sleeve T-Shirt with TearAway™ Label
        </p>

        <p>
          - 100% ring-spun lightweight cotton<br>
          - Pre-shrunk<br>
          - Tubular construction<br>
          - Shoulder-to-shoulder tape<br>
          - Seamless collar<br>
          - Double-needle sleeve and bottom hem<br>
        </p>

        <p>
          This is a classic tee that has a light feel. Made of 100% ring-spun cotton (except for heather colors, which contain 10% polyester).
          <br><br>
          Please allow 2~6 weeks for delivery depending on your country
        </p>
      </div>

      <table class="centered bordered">
        <thead>
          <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Length (inches)</th>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td>32</td>
            <td>33</td>
          </tr>
          <tr>
            <th>Width (inches)</th>
            <td>18</td>
            <td>20</td>
            <td>22</td>
            <td>24</td>
            <td>26</td>
            <td>28</td>
          </tr>
        </tbody>
      </table>

      <a
        id="product-drawer-close-{{ product.id }}"
        class="mobile-cart-close hide-on-med-and-up">
        {% include 'mobile-close-button-icon' %}
      </a>
    </div>
  </div>
</div>
