{% assign product_images = product.images | reverse %}

<div
  id="product-{{ product.id }}"
  class="tshirt product-drawer-container container">
  <div class="row">
    <div class="col s12 product-drawer-image tshirt-image">
      <img
        class="man-sweatshirt-image-preview"
        src="{{ product_images[0] | img_url: '100x', scale: 3 | split: '?' | first }}"
        sizes="50vw"
        srcset="{{ product_images[0] | img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ product_images[0] | img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ product_images[0] | img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
        data-src="{{ product_images[0] | img_url: '100x', scale: 3 | split: '?' | first }}"
        data-srcset="{{ product_images[0] | img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ product_images[0] | img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ product_images[0] | img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
        data-sizes="50vw"
        alt="{{ product_images[0].alt | escape }}" />
    </div>

    <div class="col s12 tshirt-thumbs">
      <ul>
        {% for image in product_images %}
          {% if forloop.index == 6 %}
            {% break %}
          {% else  %}
            <li>
              <img
                class="man-sweatshirt-preview-image-thumb lazy"
                src="{{ image | img_url: '100x', scale: 3 | split: '?' | first }}"
                sizes="50vw"
                srcset="{{ image | img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ image | img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ image | img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ image | img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ image | img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ image | img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ image | img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
                data-src="{{ image | img_url: '100x', scale: 3 | split: '?' | first }}"
                data-srcset="{{ image | img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ image | img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ image | img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ image | img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ image | img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ image | img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ image | img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
                data-sizes="50vw"
                alt="{{ image.alt | escape }}" />
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center product-drawer-summary">
      <div class="product-drawer-summary-header">
        <p class="product-drawer-summary-header-name">{{ product.title }}</p>
        <p class="product-drawer-summary-header-price">
          {{ product.first_available_variant.price | money }}

          {% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
            <span class="product-drawer-summary-header-on-sale"></span>
          {% endif %}
        </p>
      </div>

      {% include "clothing-add-to-cart-form" with product %}

      <div class="product-drawer-summary-description">
        <p>
          <strong>Anvil</strong><br>
          880 Ladies Ringspun Fashion Fit T-Shirt with TearAway™ Label
        </p>

        <p>
          - 4.5 oz., 100% combed ringspun cotton, 30 singles<br>
          - Heather Grey is 90/10 cotton/polyester<br>
          - Classic semi-contoured silhouette with side seam<br>
          - Shoulder-to-shoulder taping<br>
          - Seamed collarette<br>
          - Double-needle stitched sleeves and bottom hem<br>
          - Tear away label<br>
        </p>

        <p>
          This is a classic tee that has a light feel. Made of 100% ring-spun cotton (except for heather colors, which contain 10% polyester).
          <br><br>
          Please allow 2~6 weeks for delivery depending on your country
        </p>
      </div>

      <table class="centered bordered">
        <thead>
          <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Width (inches)</th>
            <td>17 ¼</td>
            <td>19 ¼</td>
            <td>21 ¼</td>
            <td>23 ¼</td>
          </tr>
          <tr>
            <th>Height (inches)</th>
            <td>25 ½</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
          </tr>
        </tbody>
      </table>

      <a
        id="product-drawer-close-{{ product.id }}"
        class="mobile-cart-close hide-on-med-and-up">
        {% include 'mobile-close-button-icon' %}
      </a>
    </div>
  </div>
</div>
