{% assign product_images = product.images | reverse %}

<div
  id="product-{{ product.id }}"
  class="man-sweatshirt product-drawer-container container">
  <div class="row">
    <div class="col s12 product-drawer-image man-sweatshirt-image">
      <img
        class="man-sweatshirt-image-preview"
        src="{{ product_images[0] | img_url: 'master', scale: 3 | split: '?' | first }}"
        alt="{{ product_images[0].alt | escape }}" />
    </div>

    <div class="col s12 man-sweatshirt-thumbs">
      <ul>
        {% for image in product_images %}
          {% if forloop.index == 5 %}
            {% break %}
          {% else  %}
            <li>
              <img
                class="man-sweatshirt-preview-image-thumb"
                src="{{ image | img_url: 'master', scale: 3 | split: '?' | first }}"
                alt="{{ image.alt | escape }}" />
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center product-drawer-summary">
      <div class="product-drawer-summary-header">
        <p class="product-drawer-summary-header-name">{{ product.title }}</p>
        <p class="product-drawer-summary-header-price">
          {{ product.first_available_variant.price | money }}

          {% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
            <span class="product-drawer-summary-header-on-sale"></span>
          {% endif %}
        </p>
      </div>

      {% include "clothing-add-to-cart-form" with product %}

      <div class="product-drawer-summary-description">
        <p>
          <strong>Gildan G180</strong>
          <br>
          50/50 Fleece Crew
        </p>

        <p>
          - 50% cotton, 50% polyester.<br>
          - Pill-resistant air jet yarn.<br>
          - Double-needle stitching throughout.<br>
          - 1×1 ribbed collar, cuffs and waistband with spandex.<br>
          - Set-in sleeves<br>
        </p>

        <p>
          <br>
          Please allow 2~6 weeks for delivery depending on your country
        </p>
      </div>

      <table class="centered bordered">
        <thead>
          <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
            <th>5XL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Length (inches)</th>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td>32</td>
            <td>33</td>
            <td>34</td>
          </tr>
          <tr>
            <th>Width (inches)</th>
            <td>20</td>
            <td>22</td>
            <td>24</td>
            <td>26</td>
            <td>28</td>
            <td>30</td>
            <td>32</td>
            <td>34</td>
          </tr>
          <tr>
            <th>Sleeve Center Back (inches)</th>
            <td>33.5</td>
            <td>34.5</td>
            <td>35.5</td>
            <td>36.5</td>
            <td>37.5</td>
            <td>38.5</td>
            <td>39.5</td>
            <td>40.5</td>
          </tr>
        </tbody>
      </table>

      <a
        id="product-drawer-close-{{ product.id }}"
        class="mobile-cart-close hide-on-med-and-up">
        {% include 'mobile-close-button-icon' %}
      </a>
    </div>
  </div>
</div>
