<div
  class="col s6 m4 l4 product-block-container collection-item-product-{{ product.id }}"
  data-loop-index="{{ forloop.index }}">

  <a
    id="collection-item-trigger-{{ product.id }}"
    href="#"
    data-activates="product-drawer-{{ product.id }}"
    class="product-block {{ drawer_class }}">
    <div class="reveal">
      <img
        src="{{ product_images.first | product_img_url: 'master' | split: '?' | first }}"
        alt="{{ product.metafields_global_title_tag | escape }}"
        class="lazy"
        data-original="{{ product_images.first | product_img_url: 'master' | split: '?' | first }}" />

      <div class="hidden hide-on-med-and-down">
        <div class="caption">
          <div class="centered">
            <p>{{ product.title }}</p>
            <p>-</p>
            <p>{{ product.price | money }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>

  <p class="collection-grid-item-product-price hide-on-med-and-up white">
    {{ product.price | money }}
  </p>

  <ul id="product-drawer-{{ product.id }}" class="side-nav">
    {% include drawer_content with product %}
  </ul>
</div>


<div class="col s6 m4 l4">
  <a
    href="#"
    data-activates="featured-product-drawer-{{ item.id }}"
    class="home-grid-item-block">
    <div
      class="reveal"
      style="background-image: url('{{ item.images.first | img_url: '260x', scale: 3 | split: '?' | first }}');">
      <div class="hidden home-grid-item-reveal-hidden" style="background-image: url('{{ item.images.first | img_url: '260x', scale: 3 | split: '?' | first }}');">
        <div class="caption">
          <div class="centered">
            <p>{{ item.title }}</p>
            <hr class="hr--small">
            <p>{{ item.price | money }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>

  {% assign product = item %}
  <ul id="featured-product-drawer-{{ item.id }}" class="side-nav">
    {% case product.type %}
    {% when 'Art Print' %}
      {% include 'product-art-print' with product %}
    {% when 'Man Tshirt' %}
      {% include 'product-man-tshirt' with product %}
    {% when 'Woman Tshirt' %}
      {% include 'product-woman-tshirt' with product %}
    {% when 'Man Sweatshirt' %}
      {% include 'product-man-sweatshirt' with product %}
    {% when 'Woman Long Sleeve' %}
      {% include 'product-woman-longsleeve' with product %}
    {% when 'Moshi Kun Cards' %}
      {% include 'product-moshikun-card' with product %}
    {% when 'Goodies' %}
      {% include 'product-goodies' with product %}
    {% else %}
      {% include 'product-art-print' with product %}
    {% endcase %}
  </ul>
</div>
