{% assign base_handle = product.handle | remove: '-man-tshirt' | remove: '-woman-tshirt' %}
{% assign current_handle = product.handle %}

{% assign has_print = false %}
{% if product.type == 'Man Tshirt' or product.type == 'Woman Tshirt' %}
  <!-- TODO: add other condition -->
  {% assign has_print = true %}
{% endif %}

{% assign product_images = product.images %}
{% assign product_main_image = product_images.first %}
{% assign thumbs_count = 5 %}

<div class="row collection-header product-page-art-print">
  <div class="col s12 m6 l7 product-page-art-print-images-container">
    <div class="row">
      <div class="col s12 product-drawer-image tshirt-image">
        <img
          src="{{ product_main_image | product_img_url: '470x', scale: 3 | split: '?' | first }}"
          sizes="50vw"
          srcset="{{ product_main_image | product_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ product_main_image | product_img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ product_main_image | product_img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ product_main_image | product_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ product_main_image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ product_main_image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ product_main_image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
          alt="{{ product_main_image.alt | escape }}"
          class="product-page-art-print-images-container-featured-img lazy"
          data-src="{{ product_main_image | product_img_url: '470x', scale: 3 | split: '?' | first }}"
          data-srcset="{{ product_main_image | product_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ product_main_image | product_img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ product_main_image | product_img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ product_main_image | product_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ product_main_image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ product_main_image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ product_main_image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
          data-sizes="50vw" />
      </div>

      <div class="col s12 tshirt-thumbs">
        <ul>
          {% for image in product_images %}
            {% if product_images.size > thumbs_count and forloop.index == product_images.size %}
              {% break %}
            {% else  %}
              <li>
                <img
                  class="woman-longsleeve-preview-image-thumb lazy"
                  src="{{ image | img_url: '470x', scale: 3 | split: '?' | first }}"
                  sizes="50vw"
                  srcset="{{ image | product_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ image | product_img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ image | product_img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
                  alt="{{ image.alt | escape }}"
                  data-src="{{ image | product_img_url: '270x', scale: 3 | split: '?' | first }}"
                  data-srcset="{{ image | product_img_url: '100x', scale: 3 | split: '?' | first }} 100w, {{ image | product_img_url: '200x', scale: 3 | split: '?' | first }} 200w, {{ image | product_img_url: '400x', scale: 3 | split: '?' | first }} 400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 800w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1000w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1400w, {{ image | product_img_url: 'master', scale: 3 | split: '?' | first }} 1800w"
                  data-sizes="5vw" />
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l5 product-page-art-print-form-container">
    <h1 class="product-page-art-print-form-container-title center">
      {{ product.title }} - {{ product.type }}
    </h1>

    <h5 class="product-page-art-print-form-container-price center">
      <strong>{{ product.first_available_variant.price | money }}</strong>
    </h5>

    {% include "clothing-add-to-cart-form" with product %}

    <p class="product-page-art-print-form-container-description">
      {% if product.description != '' and product.description != 'Lorem Ipsum' %}
        <strong>Product Description :</strong><br>
        {{ product.description | rstrip }}
        <br><br>
      {% endif %}

      <strong>Product Details :</strong><br>
      {% case product.type %}
        {% when 'Man Tshirt' %}
          <strong>Anvil 980</strong> Lightweight Fashion Short Sleeve T-Shirt with TearAway™ Label<br><br>

          - 100% ring-spun lightweight cotton<br>
          - Pre-shrunk<br>
          - Tubular construction<br>
          - Shoulder-to-shoulder tape<br>
          - Seamless collar<br>
          - Double-needle sleeve and bottom hem<br><br>

          <br><br>
          <strong>Size Chart :</strong><br>
          <table class="centered bordered product-page-art-print-form-container-description-table">
            <thead>
              <tr>
                <th></th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>2XL</th>
                <th>3XL</th>
              </tr>
            </thead>
            <tbody>
	          <tr>
	            <th>Length (inches)</th>
            	<td>28</td>
        	    <td>29</td>
    	        <td>30</td>
	            <td>31</td>
        	    <td>32</td>
    	        <td>33</td>
	          </tr>
        	  <tr>
    	        <th>Width (inches)</th>
	            <td>18</td>
	            <td>20</td>
	            <td>22</td>
	            <td>24</td>
            	<td>26</td>
        	    <td>28</td>
    	      </tr>
	        </tbody>
          </table>
        {% when 'Woman Tshirt' %}
          <strong>Anvil 880</strong> Ladies Ringspun Fashion Fit T-Shirt with TearAway™ Label<br><br>

          - 4.5 oz., 100% combed ringspun cotton, 30 singles<br>
          - Heather Grey is 90/10 cotton/polyester<br>
          - Classic semi-contoured silhouette with side seam<br>
          - Shoulder-to-shoulder taping<br>
          - Seamed collarette<br>
          - Double-needle stitched sleeves and bottom hem<br>
          - Tear away label

          <br><br>
          <strong>Size Chart :</strong><br>
          <table class="centered bordered product-page-art-print-form-container-description-table">
            <thead>
              <tr>
                <th></th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Width (inches)</th>
                <td>17 ¼</td>
                <td>19 ¼</td>
                <td>21 ¼</td>
                <td>23 ¼</td>
              </tr>
              <tr>
                <th>Height (inches)</th>
                <td>25 ½</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
              </tr>
            </tbody>
          </table>
      {% endcase %}
    </p>

    {% if has_print %}
      <br>
      <div class="product-page-art-print-related-designs-container">
        <strong class="title">This design is also available as :</strong>

        <div class="row single-row">
          <div class="col s12 button-container-left">
            <a href="/products/{{ base_handle }}" rel="next" class="product-drawer-summary-form-submit">art print</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
