{% layout none %}<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <link rel="shortcut icon"
      href="{{ 'mike_wrobel_moshikun.png' | file_url }}"
      type="image/png" />

    {% include 'social-meta-tags' %}
    <meta property="og:image" content="http:{{ 'moshikun_home_thumbnail.png' | file_img_url: 'master' | split: '?' | first }}">
    <meta property="og:image:secure_url" content="https:{{ 'moshikun_home_thumbnail.png' | file_img_url: 'master' | split: '?' | first }}">

    {{ content_for_header }}

    {{ 'fonts.scss.css' | asset_url | stylesheet_tag }}
    {{ 'css_lib_materialize.css' | asset_url | stylesheet_tag }}
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  </head>
  <body>
    <div class="password-page__wrapper center">
      <header class="password-page__header" role="banner">
        <div class="password-page__header__inner">
          <div class="password-page__logo" style="margin-top: 50px">
            <img class="logo" src="{{ 'mike_wrobel_moshikun.png' | file_url }}" alt="{{ shop.name }}" itemprop="logo" style="width: 100px; height: auto;">
          </div>
        </div>
      </header>

      <div class="password-page__main" role="main">
        <div class="password-page__main__inner">
          <h2
            class="password-page__hero"
            style="font-size: 50px; line-height: 60px;">
            Re-opening in a few days !!
          </h2>

          <div class="password-page__message">
            <br>
            - We have corrected some performance issues and bugs.
            <br>
            Thank you for your patience.
            <br>
            Mike
            <br>
            <br>
            <small>
            	This upgrade does not concern any customer-related information,
              <br>
              all your orders and personal information are saved and still processed.
            </small>
          </div>
          <hr class="hr--small">

          <p>
            Subscribe now and get notified on my latest products and discounts
          </p>
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

          <style type="text/css">
            #mc_embed_signup{clear:left; font:11px; width:100%;}
          </style>

          <div id="mc_embed_signup">
            <form action="//moshikun-shop.us13.list-manage.com/subscribe/post?u=a2713dca96b3eb1c1959a3ffe&amp;id=29e367e67c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required autofocus>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a2713dca96b3eb1c1959a3ffe_29e367e67c" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="LoginModal" class="password-page__login-form center mfp-hide">
      <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <div class="input-group">
        <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        <span class="input-group-btn">
          <button type="submit" class="btn icon-fallback-text">
            <span class="icon icon-chevron-right" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'general.password_page.login_form_submit' | t }}</span>
          </button>
        </span>
      </div>
      {% endform %}
      <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>

    {{ 'magnific-popup.min.js' | asset_url | script_tag }}
    {{ 'shop.js' | asset_url | script_tag }}

    <script>
    $(function() {
      $('.js-toggle-login-modal').magnificPopup({
        type: 'inline',
        mainClass: 'mfp-fade',
        closeOnBgClick: false,
        closeBtnInside: false,
        closeOnContentClick: false,
        tClose: {{ 'general.password_page.close' | t | json }},
        removalDelay: 500,
        callbacks: {
          open: function() {
            window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
          },
          close: function() {
            window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
          }
        }
      });
      if ( $('.storefront-password-form .errors').size() ) {
        $('.js-toggle-login-modal').click();
      }
    });
    </script>
  </body>
</html>
